:root {
  --color-primary: #6CC24A; 
}

.dark {
  --color-primary: #4ade80; 
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
}
::selection {
  background-color: var(--color-primary);
  color: #ffffff;
}

::-moz-selection {
  background-color: var(--color-primary);
  color: #ffffff;
}