@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE/Edge */
body {
  -ms-overflow-style: none;
}